.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 1000px;
    position: relative;
    left: 200px;

    border-style: solid;
    border-width: px;
    border-color: #3C3C3C;
    border-radius: 5px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    color: #999999;
}

.btn-search{
    width: 100px;
    background-color: #5CB85F;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 12px 8px;
    border: none;

    font-weight: bold;
}

.btn-search:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn-search:active{
    opacity: 0.5;
}

.btn1{
    margin-bottom: 10px;
    position: relative;
    bottom: 10px;
    height: 10px;
}

.c{
    font-size: 12px;
}